<!-- templates/cadastrar_professor.html -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professor</title>
</head>
<body>
    <h1>Cadastro de Professor</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{% url 'home' %}">Voltar para a página inicial</a>
</body>
</html>
